.nextflow*
work/
results/
.DS_Store
testdata/simulated-data/gwas-catalogue-data/
testdata/simulated-data/original-simulated-plink/sim*
testdata/simulated-data/updated-simulated-plink/sim*
testdata/simulated-data/updated-simulated-plink/update*


