/*
 * -------------------------------------------------
 *  lifebit-ai/prs config file
 * -------------------------------------------------
 * Default config options for all environments.
 */


// Define image used by pipeline

docker.enabled = true
process.container = 'lifebitai/prs:1.0dev-e4b68ae'


// Default pipeline parameters

params {
  
  // GENERAL OPTIONS
  
  // 1 - Basics

  outdir = 'results'
  rmarkdown = "$baseDir/bin/prs_report.Rmd"
  
  // 2 - Base (discovery) dataset

  saige_base         = false
  gwas_cat_study_id  = false
  gwas_catalogue_ftp = "https://raw.githubusercontent.com/lifebit-ai/prs/enable-usage-gwas-catalogue-stats/assets/ftp_locations_harmonized.csv"
  
  // 3 - Target dataset

  target_plink_dir  = false
  target_pheno      = false
  binary_trait      = true

  // 4 - Phenotype metadata - necessary for determining which covariates to plot

  pheno_metadata = "https://raw.githubusercontent.com/lifebit-ai/prs/add-additional-plots/assets/metadata_phenotypes_mapping_file.csv"

  // 5 - Header file needed to detect builds in both target and base datasets

  header = "https://raw.githubusercontent.com/lifebit-ai/prs/handle-extra-flags-and-different-builds/assets/header-for-snps-package.txt"

  // OTHER PRSice OPTIONS

  // 1 - Base file options (other than the hardcoded ones in main.nf)
  
  index         = false
  base_info     = false
  base_maf      = false
  no_default    = false

  // 2 - Target file options (other than the hardcoded ones in main.nf)

  geno          = false
  info          = false
  keep          = false
  maf           = false
  nonfounders   = false
  ignore_fid    = false
  pheno_col     = false
  prevalence    = false
  remove        = false
  type          = false

  // 3 - Dosage commands not available (pipeline is not currently developed to handle dosages)

  // 4 - Clumping
  
  clump_kb      = false
  clump_r2      = false
  clump_p       = false
  ld            = false
  ld_dose_thres = false
  ld_geno       = false
  ld_info       = false
  ld_hard_thres = false
  ld_keep       = false
  ld_list       = false
  ld_maf        = false
  ld_remove     = false
  ld_type       = false
  no_clump      = false 
  proxy         = false

  // 5 - P-value thresholding
  
  bar_levels    = false
  fastscore     = false
  no_full       = false
  interval      = false
  lower         = false
  model         = false
  missing       = false
  no_regress    = false
  score         = false
  upper         = false

  // 6 - R specific commands not available (pipeline is using a Docker image that handles such details)

  // 7 - Plotting

  bar_col_high    = false
  bar_col_low     = false
  bar_col_p       = false
  bar_palatte     = false
  device          = false
  multi_plot      = false
  plot            = false
  plot_set        = false
  quantile        = false   // When not needed: leave as false ; When needed, specify a number > 0
  quant_break     = false   // When not needed: leave as false ; When needed, specify a list numbers surrounded with quotes. For example: "1,5,10,20,40,60,80,90,95,99,100"
  quant_ref       = false   // When not needed: leave as false ; When needed, specify a number >0
  quant_extract   = false
  scatter_r2      = false

  // 8 - Miscellaneous

  all_score       = false
  exclude         = false
  chr_id          = false
  extract         = false
  id_delim        = false
  ignore_fid      = false
  keep_ambig      = false
  logit_perm      = false
  memory          = false
  non_cumulate    = false
  out             = false
  perm            = false
  print_snp       = false
  seed            = false
  thread          = false
  ultra           = false
  x_range         = false

}

// Process parameters

process {

  withLabel: high_memory {
    cpus = 2
  }

  withName: detect_and_update_build {
    container = 'lifebitai/common-latest-geno'
  }

  withName: produce_report {
    container = 'lifebitai/gelgwas:1.1dev'
  }

}

// Profiles

profiles {
  test_saige_base_gel_gwas_plink_target { includeConfig 'conf/test_saige_base_gel_gwas_plink_target.config' }
}


