docker.enabled = true
process.container = 'lifebitai/prs'

params {
  // Pipeline options
  outdir = 'results'
  rmarkdown = "$baseDir/bin/prs_report.Rmd"
  quantile_plot = "$baseDir/assets/quantile_plot.txt"

  // Base Dataset or Discovery Dataset
  base  = false
  index  = false
  A1     = false
  A2     = false
  chr    = false
  stat   = false
  snp    = false
  bp     = false
  pvalue = false

  // Target dataset
  target     = false
  pheno      = "$baseDir/assets/no_pheno.txt"
  ignore_fid = false
  pheno_col  = false

  // Clumping
  clump_kb      = 250
  clump_r2      = 0.1
  clump_p       = 1.0
  no_clump      = false
  proxy         = false
  missing       = 'MEAN_IMPUTE'
  ld            = "$baseDir/assets/no_ld.txt"
  ld_dose_thres = false
  ld_geno       = false
  ld_info       = false
  ld_maf        = false
  ld_hard_thres = 0.1
  

  // Covariate
  cov     = "$baseDir/assets/no_cov.txt"
  cov_col = false

  // Polygenic Risk Calculations
  no_regress = false
  model      = '0/1/1' // Additive model
  score      = 'avg'
  all_score  = false
  quantile  = 0

  // Additional
  perm      = false
  print_snp = false
}