/*
 * -------------------------------------------------
 *  lifebit-ai/prs config file
 * -------------------------------------------------
 * Default config options for all environments.
 */


// Define image used by pipeline and Docker user permissions

docker.enabled = true
process.container = 'lifebitai/prs:latest'


// Default pipeline parameters

params {
  
  // Pipeline options
  
  outdir = 'results'
  rmarkdown = "$baseDir/bin/prs_report.Rmd"
  quantile_plot = "https://raw.githubusercontent.com/lifebit-ai/prs/add-additional-plots/assets/quantile_plot.txt"

  // Base Dataset or Discovery Dataset

  saige_base           = false
  gwas_cat_study_id  = false
  gwas_catalogue_ftp   = "https://raw.githubusercontent.com/lifebit-ai/prs/enable-usage-gwas-catalogue-stats/assets/ftp_locations_harmonized.csv"
  

  // Phenotype metadata - necessary for determining which covariates to plot
  pheno_metadata = "https://raw.githubusercontent.com/lifebit-ai/prs/add-additional-plots/assets/metadata_phenotypes_mapping_file.csv"

  // Target dataset

  target_plink_dir  = false
  target_pheno      = false
  binary_trait      = true

  // Clumping

  clump_kb      = 250
  clump_r2      = 0.1
  clump_p       = 1.0
  no_clump      = false
  proxy         = false
  missing       = 'MEAN_IMPUTE'
  ld            = "https://raw.githubusercontent.com/lifebit-ai/prs/add-additional-plots/assets/no_ld.txt"
  ld_dose_thres = false
  ld_geno       = false
  ld_info       = false
  ld_maf        = false
  ld_hard_thres = 0.1


  // Polygenic Risk Calculations

  no_regress = false
  model      = 'add' // Additive model
  score      = 'avg'
  all_score  = false
  quantile  = 0

  // Additional

  perm      = false
  print_snp = false
}

// Process parameters

process {

  withLabel: high_memory {
    cpus = 2
  }

}


