/*
 * ---------------------------------------------------
 *  lifebit-ai/prs test config file
 * ---------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 * nextflow run main.nf -profile test
 */


docker.enabled = true

params  {
    saige_base = "testdata/saige_results_covid_1.csv"
    target_pheno = "testdata/cohort_parsed_file.phe"
    target_plink = "testdata/plink"

    // Limit resources so that this can run on GitHub Actions
    max_cpus = 2
}


