/*
 * -----------------------------------------------------------------
 *  lifebit-ai/prs test_saige_base_gel_gwas_plink_target config file
 * -----------------------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 * nextflow run main.nf -profile test_saige_base_gel_gwas_plink_target
 */


docker.enabled = true

params  {
    saige_base = "s3://lifebit-featured-datasets/projects/gel/prs/testdata/saige_results_covid_1.csv"
    target_pheno = "s3://lifebit-featured-datasets/projects/gel/prs/testdata/cohort_parsed_file.phe"
    target_plink_dir = "s3://lifebit-featured-datasets/projects/gel/prs/testdata/plink"
    pheno_metadata = "s3://lifebit-featured-datasets/projects/gel/prs/metadata_phenotypes_mapping_file.csv"

    // Limit resources so that this can run on GitHub Actions
    max_cpus = 2
}


