/*
 * ---------------------------------------------------------------------
 *  lifebit-ai/prs test_gwas_cat_base_simulated_plink_target config file
 * ---------------------------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 * nextflow run main.nf -profile test_gwas_cat_base_simulated_plink_target
 */


docker.enabled = true

params  {
    gwas_cat_study_id = "GCST004420-ci"
    target_pheno = "https://lifebit-featured-datasets.s3-eu-west-1.amazonaws.com/projects/gel/prs/testdata/cohort_parsed_file.phe"
    target_plink_dir = "s3://lifebit-featured-datasets/projects/gel/prs/testdata/simulated-data/updated-simulated-plink/updated-split"
    pheno_metadata = "s3://lifebit-featured-datasets/projects/gel/prs/metadata_phenotypes_mapping_file.csv"

    // Limit resources so that this can run on GitHub Actions
    max_cpus = 2
}

